@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We may collect the following types of information:

    Personal Information: Name, email address, phone number, gender, and payment details.

    Booking Details: Train routes, travel dates, ticket preferences, and history of bookings.

    Device Information: Device type, operating system, app version, and usage statistics.

    Location Data: Only when needed (e.g., to show nearest train stations).
</p>
